################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FilesToSign.txt
/src/SignWithAzure.Bat
/src/SignInstallerWithAzure.Bat
*.vsidx
*.wsuo
/.vs/Metamorphosis/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Metamorphosis/CopilotIndices/17.12.38.29086
/.vs/Metamorphosis/v17
