<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Metamorphosis for Revit" Language="1033" Version="2.0.0.0" Manufacturer="NYC Hackathon Team 14" UpgradeCode="cbce84ae-9576-496e-9cbc-363956edbf13">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"  />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

    <!--
		<Feature Id="ProductFeature" Title="MetaInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    -->
    <Feature Id="Revit2021Install" Title="Revit 2021" Level="1">
      <ComponentRef Id="Addin2021" />
      <ComponentRef Id="MetamorphosisDLL2021" />
      <ComponentRef Id="NewtonSoft2021" />
      <ComponentRef Id="SQLite2021" />
      <ComponentRef Id="SqliteInterop2021x86.dll"/>
      <ComponentRef Id="SqliteInterop2021x64.dll"/>
      <ComponentRef Id="Settings2021.xml"/>
    </Feature>
    <Feature Id="Revit2020Install" Title="Revit 2020" Level="1">
      <ComponentRef Id="Addin2020" />
      <ComponentRef Id="MetamorphosisDLL2020" />
      <ComponentRef Id="NewtonSoft2020" />
      <ComponentRef Id="SQLite2020" />
      <ComponentRef Id="SqliteInterop2020x86.dll"/>
      <ComponentRef Id="SqliteInterop2020x64.dll"/>
      <ComponentRef Id="Settings2020.xml"/>
    </Feature>
    <Feature Id="Revit2019Install" Title="Revit 2019" Level="1">
      <ComponentRef Id="Addin2019" />
      <ComponentRef Id="MetamorphosisDLL2019" />
      <ComponentRef Id="NewtonSoft2019" />
      <ComponentRef Id="SQLite2019" />      
      <ComponentRef Id="SqliteInterop2019x86.dll"/>
      <ComponentRef Id="SqliteInterop2019x64.dll"/>
      <ComponentRef Id="Settings2019.xml"/>
    </Feature>
      <Feature Id="Revit2018Install" Title="Revit 2018" Level="1">
      <ComponentRef Id="Addin2018" />
      <ComponentRef Id="MetamorphosisDLL2018" />
      <ComponentRef Id="NewtonSoft2018" />
      <ComponentRef Id="SQLite2018" />      
      <ComponentRef Id="SqliteInterop2018x86.dll"/>
      <ComponentRef Id="SqliteInterop2018x64.dll"/>
      <ComponentRef Id="Settings2018.xml"/>
    </Feature>
    <Feature Id="Revit2017Install" Title="Revit 2017" Level="1">
      <ComponentRef Id="Addin2017" />
      <ComponentRef Id="MetamorphosisDLL2017" />
      <ComponentRef Id="NewtonSoft2017" />
      <ComponentRef Id="SQLite2017" />      
      <ComponentRef Id="SqliteInterop2017x86.dll"/>
      <ComponentRef Id="SqliteInterop2017x64.dll"/>
      <ComponentRef Id="Settings2017.xml"/>
    </Feature>
    <Feature Id="Revit2016Install" Title="Revit 2016" Level="1">
      <ComponentRef Id="Addin2016" />
      <ComponentRef Id="MetamorphosisDLL2016" />
      <ComponentRef Id="NewtonSoft2016" />
      <ComponentRef Id="SQLite2016" />   
      <ComponentRef Id="SqliteInterop2016x86.dll"/>
      <ComponentRef Id="SqliteInterop2016x64.dll"/>
      <ComponentRef Id="Settings2016.xml"/>
    </Feature>
    <Feature Id="Revit2015Install" Title="Revit 2015" Level="1">
      <ComponentRef Id="Addin2015" />
      <ComponentRef Id="MetamorphosisDLL2015" />
      <ComponentRef Id="NewtonSoft2015" />
      <ComponentRef Id="SQLite2015" />
      <ComponentRef Id="SqliteInterop2015x86.dll"/>
      <ComponentRef Id="SqliteInterop2015x64.dll"/>
      <ComponentRef Id="Settings2015.xml"/>
    </Feature>
  
	</Product>

  <!-- Directory Structure for install -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder" Name="ProgramData">
        <Directory Id="AUTODESKFOLDER"  Name="Autodesk">
          <Directory Id="REVITFOLDER" Name="Revit" >
            <Directory Id="ADDINSFOLDER" Name="Addins">

              <Directory Id="ADDINS2021" Name="2021">
                <Directory Id="BUNDLEFOLDER2021" Name="Metamorphosis" >
                  <Directory Id="SQLiteInterop2021x86" Name="x86"/>
                  <Directory Id="SQLiteInterop2021x64" Name="x64"/>
                </Directory>
              </Directory>
              
              <Directory Id="ADDINS2020" Name="2020">
                <Directory Id="BUNDLEFOLDER2020" Name="Metamorphosis" >
                  <Directory Id="SQLiteInterop2020x86" Name="x86"/>
                  <Directory Id="SQLiteInterop2020x64" Name="x64"/>
                </Directory>
              </Directory>
              
               <Directory Id="ADDINS2019" Name="2019">
                <Directory Id="BUNDLEFOLDER2019" Name="Metamorphosis" >
                  <Directory Id="SQLiteInterop2019x86" Name="x86"/>
                  <Directory Id="SQLiteInterop2019x64" Name="x64"/>
                </Directory>
              </Directory>
              
              <Directory Id="ADDINS2018" Name="2018">
                <Directory Id="BUNDLEFOLDER2018" Name="Metamorphosis" >
                  <Directory Id="SQLiteInterop2018x86" Name="x86"/>
                  <Directory Id="SQLiteInterop2018x64" Name="x64"/>
                </Directory>
              </Directory>
              
              <Directory Id="ADDINS2017" Name="2017">
                <Directory Id="BUNDLEFOLDER2017" Name="Metamorphosis" >
                  <Directory Id="SQLiteInterop2017x86" Name="x86"/>
                  <Directory Id="SQLiteInterop2017x64" Name="x64"/>
                </Directory>
              </Directory>

              <Directory Id="ADDINS2016" Name="2016">
                <Directory Id="BUNDLEFOLDER2016" Name="Metamorphosis" >
                  <Directory Id="SQLiteInterop2016x86" Name="x86"/>
                  <Directory Id="SQLiteInterop2016x64" Name="x64"/>
                </Directory>
              </Directory>

              <Directory Id="ADDINS2015" Name="2015">
                <Directory Id="BUNDLEFOLDER2015" Name="Metamorphosis" >
                  <Directory Id="SQLiteInterop2015x86" Name="x86"/>
                  <Directory Id="SQLiteInterop2015x64" Name="x64"/>
                </Directory>
              </Directory>

            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

	<Fragment>

    <!-- 2021 -->
    <DirectoryRef Id="ADDINS2021">
      <Component Id="Addin2021" Guid="{72E64021-5CB2-4800-B25F-62B727885D24}" DiskId="1">
        <CreateFolder/>
        <File Id="Metamorphosis.addin2021" Name="Metamorphosis.addin" Source="$(var.ProjectDir)Metamorphosis.addin" Checksum="no"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="BUNDLEFOLDER2021">
      <Component Id="MetamorphosisDLL2021" Guid="{400316F6-B344-4518-95C3-58D53FA56DF2}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveBundle2021" On="uninstall"/>
        <File Id="Metamorphosis.dll2021" Name="Metamorphosis.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release\Metamorphosis.dll" Checksum="no"/>
      </Component>
      <Component Id="NewtonSoft2021" Guid="{1A5397CA-4A26-414C-B3E5-0A3406917E07}" DiskId="1">
        <File Id="NewtonSoft2021" Name="Newtonsoft.Json.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release\Newtonsoft.Json.dll" Checksum="no"/>
      </Component>
      <Component Id="SQLite2021" Guid="{882522F3-FE7F-4E19-959D-A2FB04E33963}" DiskId="1">
        <File Id="SQLite2021" Name="System.Data.SQLite.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release\System.Data.SQLite.dll" Checksum="no"/>
      </Component>
      <Component Id="Settings2021.xml" Guid="{2C536AED-7BE2-4201-B6EF-86B1DABC20BE}" DiskId="1">
        <File Id="Settings2021" Name="Settings.xml" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release\Settings.xml" Checksum="no"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="SQLiteInterop2021x86">
      <Component Id="SqliteInterop2021x86.dll" Guid="{3F129206-505F-40BD-83DE-1386DB1339A8}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2021x86" On="uninstall"/>
        <File Id="SQLite.Interop.dll2021x86" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release\x86\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="SQLiteInterop2021x64">
      <Component Id="SqliteInterop2021x64.dll" Guid="{5454798C-12F4-4065-A2A5-B7AD04CE535B}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2021x64" On="uninstall"/>
        <File Id="SQLite.Interop.dll2021x64" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release\x64\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>

    <!-- 2020 -->
    <DirectoryRef Id="ADDINS2020">
      <Component Id="Addin2020" Guid="{7D85B1B0-BCAE-4190-A04B-807FECE268BA}" DiskId="1">
        <CreateFolder/>
        <File Id="Metamorphosis.addin2020" Name="Metamorphosis.addin" Source="$(var.ProjectDir)Metamorphosis.addin" Checksum="no"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="BUNDLEFOLDER2020">
      <Component Id="MetamorphosisDLL2020" Guid="{8F0324A5-5933-4273-BE10-D94E9398D585}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveBundle2020" On="uninstall"/>
        <File Id="Metamorphosis.dll2020" Name="Metamorphosis.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2020\Metamorphosis.dll" Checksum="no"/>
      </Component>
      <Component Id="NewtonSoft2020" Guid="{15E82777-278A-4DF5-B54A-834B9C9FBFC2}" DiskId="1">
        <File Id="NewtonSoft2020" Name="Newtonsoft.Json.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2020\Newtonsoft.Json.dll" Checksum="no"/>
      </Component>
      <Component Id="SQLite2020" Guid="{230F2C82-51FB-4F61-A28B-8BB4F8CD081A}" DiskId="1">
        <File Id="SQLite2020" Name="System.Data.SQLite.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2020\System.Data.SQLite.dll" Checksum="no"/>
      </Component>
      <Component Id="Settings2020.xml" Guid="{06652ED9-1FA2-40F4-880D-0250C4653755}" DiskId="1">
        <File Id="Settings2020" Name="Settings.xml" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2020\Settings.xml" Checksum="no"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="SQLiteInterop2020x86">
      <Component Id="SqliteInterop2020x86.dll" Guid="{B28B1A26-6E05-47DA-9350-7A18C49CA08E}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2020x86" On="uninstall"/>
        <File Id="SQLite.Interop.dll2020x86" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2020\x86\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="SQLiteInterop2020x64">
      <Component Id="SqliteInterop2020x64.dll" Guid="{C8FAF011-A683-4645-9ABB-B8F51642B783}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2020x64" On="uninstall"/>
        <File Id="SQLite.Interop.dll2020x64" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2020\x64\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
    
    <!-- 2019 -->
    <DirectoryRef Id="ADDINS2019">
        <Component Id="Addin2019" Guid="{D1A462A7-8D76-4E32-9D6C-54A658D1BCE6}" DiskId="1">
          <CreateFolder/>
          <File Id="Metamorphosis.addin2019" Name="Metamorphosis.addin" Source="$(var.ProjectDir)Metamorphosis.addin" Checksum="no"/>
        </Component>
      </DirectoryRef>

    <DirectoryRef Id="BUNDLEFOLDER2019">
      <Component Id="MetamorphosisDLL2019" Guid="{C2DB3027-CF3C-4E04-894E-23184D48BA3F}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveBundle2019" On="uninstall"/>
        <File Id="Metamorphosis.dll2019" Name="Metamorphosis.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2019\Metamorphosis.dll" Checksum="no"/>
      </Component>
      <Component Id="NewtonSoft2019" Guid="{2EF0A618-C43A-4EFF-87F3-8C79D1F00087}" DiskId="1">
        <File Id="NewtonSoft2019" Name="Newtonsoft.Json.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2019\Newtonsoft.Json.dll" Checksum="no"/>        
      </Component>
      <Component Id="SQLite2019" Guid="{9C1B7E0F-79C1-4313-81FB-C6FE5FCE4AA0}" DiskId="1">
        <File Id="SQLite2019" Name="System.Data.SQLite.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2019\System.Data.SQLite.dll" Checksum="no"/>
      </Component>
      <Component Id="Settings2019.xml" Guid="{723C9F2E-204B-438E-B9F7-0E9E3DF7B469}" DiskId="1">
        <File Id="Settings2019" Name="Settings.xml" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2019\Settings.xml" Checksum="no"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="SQLiteInterop2019x86">
      <Component Id="SqliteInterop2019x86.dll" Guid="{E7F277E2-73F1-4E0C-ACF5-266644CE0CBB}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2019x86" On="uninstall"/>
        <File Id="SQLite.Interop.dll2019x86" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2019\x86\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
     <DirectoryRef Id="SQLiteInterop2019x64">
      <Component Id="SqliteInterop2019x64.dll" Guid="{D16D46AB-4401-473C-987A-399DDEF7CD89}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2019x64" On="uninstall"/>
        <File Id="SQLite.Interop.dll2019x64" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2019\x64\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
    
    <!-- 2018 -->
       <DirectoryRef Id="ADDINS2018">
        <Component Id="Addin2018" Guid="{A7925784-7166-4E18-9247-3ECC01084B70}" DiskId="1">
          <CreateFolder/>
          <File Id="Metamorphosis.addin2018" Name="Metamorphosis.addin" Source="$(var.ProjectDir)Metamorphosis.addin" Checksum="no"/>
        </Component>
      </DirectoryRef>

    <DirectoryRef Id="BUNDLEFOLDER2018">
      <Component Id="MetamorphosisDLL2018" Guid="{1654C19B-85C7-4E24-883A-07DD6864F712}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveBundle2018" On="uninstall"/>
        <File Id="Metamorphosis.dll2018" Name="Metamorphosis.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2018\Metamorphosis.dll" Checksum="no"/>
      </Component>
      <Component Id="NewtonSoft2018" Guid="{AD058D16-87C4-4F32-B6D8-943D8B6BFA75}" DiskId="1">
        <File Id="NewtonSoft2018" Name="Newtonsoft.Json.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2018\Newtonsoft.Json.dll" Checksum="no"/>        
      </Component>
      <Component Id="SQLite2018" Guid="{F83F7B0A-F127-4815-B102-25A87D834594}" DiskId="1">
        <File Id="SQLite2018" Name="System.Data.SQLite.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2018\System.Data.SQLite.dll" Checksum="no"/>
      </Component>
      <Component Id="Settings2018.xml" Guid="{5A686361-F7F8-4CC0-937D-1F30941FCADD}" DiskId="1">
        <File Id="Settings2018" Name="Settings.xml" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2018\Settings.xml" Checksum="no"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="SQLiteInterop2018x86">
      <Component Id="SqliteInterop2018x86.dll" Guid="{A3CE5FC3-7402-4C2F-A6CC-C72D089A7C11}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2018x86" On="uninstall"/>
        <File Id="SQLite.Interop.dll2018x86" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2018\x86\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
     <DirectoryRef Id="SQLiteInterop2018x64">
      <Component Id="SqliteInterop2018x64.dll" Guid="{227AAA07-6255-4213-8994-C7DE5E0B36F6}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2018x64" On="uninstall"/>
        <File Id="SQLite.Interop.dll2018x64" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2018\x64\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
      
    <!-- 2017 -->
      <DirectoryRef Id="ADDINS2017">
        <Component Id="Addin2017" Guid="{C459EADB-2684-4088-ABDC-CC1DFDB3BD6A}" DiskId="1">
          <CreateFolder/>
          <File Id="Metamorphosis.addin2017" Name="Metamorphosis.addin" Source="$(var.ProjectDir)Metamorphosis.addin" Checksum="no"/>
        </Component>
      </DirectoryRef>

    <DirectoryRef Id="BUNDLEFOLDER2017">
      <Component Id="MetamorphosisDLL2017" Guid="{73042EAC-1C7D-45D1-946E-65CC211F8EF1}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveBundle2017" On="uninstall"/>
        <File Id="Metamorphosis.dll2017" Name="Metamorphosis.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2017\Metamorphosis.dll" Checksum="no"/>
      </Component>
      <Component Id="NewtonSoft2017" Guid="{8F98CB72-6504-47AE-BED3-D78CAC721389}" DiskId="1">
        <File Id="NewtonSoft2017" Name="Newtonsoft.Json.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2017\Newtonsoft.Json.dll" Checksum="no"/>        
      </Component>
      <Component Id="SQLite2017" Guid="{482B71DB-EB31-4F3E-AD90-D951780F4977}" DiskId="1">
        <File Id="SQLite2017" Name="System.Data.SQLite.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2017\System.Data.SQLite.dll" Checksum="no"/>
      </Component>
      <Component Id="Settings2017.xml" Guid="{194D0E57-3227-4B7B-9702-D5965EC2608F}" DiskId="1">
        <File Id="Settings2017" Name="Settings.xml" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2017\Settings.xml" Checksum="no"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="SQLiteInterop2017x86">
      <Component Id="SqliteInterop2017x86.dll" Guid="{672DC369-131B-4F7C-AC9A-107576AFE48B}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2017x86" On="uninstall"/>
        <File Id="SQLite.Interop.dll2017x86" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2017\x86\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
     <DirectoryRef Id="SQLiteInterop2017x64">
      <Component Id="SqliteInterop2017x64.dll" Guid="{672DC368-231B-4F7C-AC9A-107576AFE48B}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2017x64" On="uninstall"/>
        <File Id="SQLite.Interop.dll2017x64" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2017\x64\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
    
    <!-- 2016-->
       <DirectoryRef Id="ADDINS2016">
        <Component Id="Addin2016" Guid="{E459EADE-2684-4088-ABDC-CC1DFDB3BD6A}" DiskId="1">
          <CreateFolder/>
          <File Id="Metamorphosis.addin2016" Name="Metamorphosis.addin" Source="$(var.ProjectDir)Metamorphosis.addin" Checksum="no"/>
        </Component>
      </DirectoryRef>

    <DirectoryRef Id="BUNDLEFOLDER2016">
      <Component Id="MetamorphosisDLL2016" Guid="{42042EAC-1C7D-45D1-946E-65CC211F8EF1}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveBundle2016" On="uninstall"/>
        <File Id="Metamorphosis.dll2016" Name="Metamorphosis.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2016\Metamorphosis.dll" Checksum="no"/>
      </Component>
      <Component Id="NewtonSoft2016" Guid="{7E98CB72-6504-47AE-BED3-D78CAC721389}" DiskId="1">
        <File Id="NewtonSoft2016" Name="Newtonsoft.Json.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2016\Newtonsoft.Json.dll" Checksum="no"/>        
      </Component>
      <Component Id="SQLite2016" Guid="{371B71DB-EB31-4F3E-AD90-D951780F4977}" DiskId="1">
        <File Id="SQLite2016" Name="System.Data.SQLite.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2016\System.Data.SQLite.dll" Checksum="no"/>
      </Component>
      <Component Id="Settings2016.xml" Guid="{AD857D1A-257F-4495-8520-42DA3E0CDB8F}" DiskId="1">
        <File Id="Settings2016" Name="Settings.xml" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2016\Settings.xml" Checksum="no"/>
      </Component>
    </DirectoryRef>
    
       <DirectoryRef Id="SQLiteInterop2016x86">
      <Component Id="SqliteInterop2016x86.dll" Guid="{562DC369-131B-4F7C-AC9A-107576AFE48B}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2016x86" On="uninstall"/>
        <File Id="SQLite.Interop.dll2016x86" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2016\x86\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
     <DirectoryRef Id="SQLiteInterop2016x64">
      <Component Id="SqliteInterop2016x64.dll" Guid="{561DC369-131B-4F7C-AC9A-107576AFE48B}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2016x64" On="uninstall"/>
        <File Id="SQLite.Interop.dll2016x64" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2016\x64\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>


    <!-- 2015-->
    <DirectoryRef Id="ADDINS2015">
      <Component Id="Addin2015" Guid="{9A07FB20-0724-4BDB-A229-6FEE28167A8F}" DiskId="1">
        <CreateFolder/>
        <File Id="Metamorphosis.addin2015" Name="Metamorphosis.addin" Source="$(var.ProjectDir)Metamorphosis.addin" Checksum="no"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="BUNDLEFOLDER2015">
      <Component Id="MetamorphosisDLL2015" Guid="{00089945-B6DA-466E-8CC4-0C1E33BC476D}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveBundle2015" On="uninstall"/>
        <File Id="Metamorphosis.dll2015" Name="Metamorphosis.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2015\Metamorphosis.dll" Checksum="no"/>
      </Component>
      <Component Id="NewtonSoft2015" Guid="{74A5A363-9B8D-4CFD-9F3A-C9E744CDC116}" DiskId="1">
        <File Id="NewtonSoft2015" Name="Newtonsoft.Json.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2015\Newtonsoft.Json.dll" Checksum="no"/>
      </Component>
      <Component Id="SQLite2015" Guid="{F58F93C2-C8EB-428F-AB9F-B4032CE23079}" DiskId="1">
        <File Id="SQLite2015" Name="System.Data.SQLite.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2015\System.Data.SQLite.dll" Checksum="no"/>
      </Component>
      <Component Id="Settings2015.xml" Guid="{3FEC46DC-9363-488C-B701-0A1EF0628C60}" DiskId="1">
        <File Id="Settings2015" Name="Settings.xml" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2015\Settings.xml" Checksum="no"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="SQLiteInterop2015x86">
      <Component Id="SqliteInterop2015x86.dll" Guid="{2D7C83D9-3A60-4F13-BB40-8FF68455348F}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2015x86" On="uninstall"/>
        <File Id="SQLite.Interop.dll2015x86" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2015\x86\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="SQLiteInterop2015x64">
      <Component Id="SqliteInterop2015x64.dll" Guid="{60B256A2-40CC-4A1B-B771-1E78AE1B74E1}" DiskId="1">
        <CreateFolder/>
        <RemoveFolder Id="RemoveSqliteInterop2015x64" On="uninstall"/>
        <File Id="SQLite.Interop.dll2015x64" Name="SQLite.Interop.dll" Source="$(var.ProjectDir)\..\RevitFingerPrint\bin\Release2015\x64\SQLite.Interop.dll" Checksum="no"/>
      </Component>
    </DirectoryRef>





  </Fragment>
</Wix>
