<?xml version="1.0" encoding="utf-8" ?>
<Settings>
<ColorChoices>
  <!-- Specify the ChangeType, and then the color. The color is in the format of either:
    - the .NET Color name (https://msdn.microsoft.com/en-us/library/system.drawing.color(v=vs.110).aspx) 
    - three comma delimited integers:  Red,Greed,Blue
  -->
  <ChangeType name="ParameterChange" color="Red"/>
  <ChangeType name="Move" color="Red"/>
  <ChangeType name="Rotate" color="Red"/>
  <ChangeType name="GeometryChange" color="Blue"/>
  <ChangeType name="NewElement" color="Green"/>
</ColorChoices>
</Settings>
